* {
    margin: 0;
    padding: 0;
}

body {
    background: #222;
    color: #fff;
    font-family: system-ui;
}

.Crud {
    width: 80%;
    margin: auto;
}

.head {
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;

}

input {
    width: 97%;
    height: 30px;
    outline: none;
    border: none;
    background: #111;
    margin: 4px;
    border-radius: 5px;
    padding: 4px;
    color: #fff;
}

input:focus {
    background: #000;
    transform: scale(1.1);

}

.price input {
    width: 20%;
}

#total {
    background: rgb(214, 18, 4);
    padding: 5px 2px;
    border-radius: 4px;
}

#total::before {
    content: "Total: ";
}

button {
    width: 97%;
    height: 30px;
    border: none;
    cursor: pointer;
    background: #a703e7;
    color: #fff;
    border-radius: 20px;
    transition: 0.5s;
}

button:hover {
    background: #8507b3;
    letter-spacing: 2px;
}

.btnSearch {
    display: flex;
    justify-content: space-between;
}

.btnSearch button {
    width: 45%;
}

table {
    width: 100%;
    text-align: center;
    margin: 10PX 0;
}

table th {
    text-transform: uppercase;
}

th,
td {
    padding: 5px;
}